body {
  background-color: rgb(28, 28, 88);
}

#chartContainer { 
  border-radius: 2em;  
  font-family: 'Merriweather';
}

.card-body { 
  background-color: #00000008;
  border-radius: 0px;
 } 


 .footer {
  margin-top: 11vh;
}
