.drop {
  display: inline-block;
  padding: 1em;
  cursor: pointer;
  position: relative;
  text-transform: capitalize;
  border-radius: 4px;
  width: 110px;
  text-align: center;
  outline: none;
  border: none;
  box-shadow: inset 0 0 5px #000000;
  background-color: #ffffff42;
  color: white;
  /* text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #fff; */
  text-shadow: '0px 3px 0px #b2a98f, 0px 14px 10px rgba(0,0,0,0.15), 0px 24px 2px rgba(0,0,0,0.1), 0px 34px 30px rgba(0,0,0,0.1)';
  font-family: 'Courier';
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.drop ul {
  position: absolute;
  left: 0;
  top: 3em;
  transition: all 0.3s ease;
  transform: scale(0);
  transform-origin: center top;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  z-index: 30;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.drop ul li {
  display: inline-flex;
  /* width: 100%; */
  width: 100%;
  padding: .5rem;
  /* display: inline-block; */
  white-space: pre;
  box-sizing: border-box;
}

.drop ul li:hover,
.drop ul .activeOption {
  background: #d8c7c71a;
}
.drop:hover ul {
  transform: scale(1);
}
